body {
  background-color: rgb(234, 234, 234) !important;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(5, 82, 2) 0%,
    rgb(37, 116, 27) 69%,
    rgb(86, 202, 32) 89%
  ) !important;
}

/* home page styles */
.masthead {
  display: flex;
  
   align-items: center; 
  background-image: linear-gradient(
          135deg,
          rgb(27, 136, 0) 0%,
          rgb(68, 194, 52) 69%,
          rgb(142, 240, 97) 89%
  ) !important;
  height: 100vh;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

/*end home page styles*/